#destacados h3, h4 {
    text-align: center;
}

#destacados .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#destacados article {
    margin: 15px;
}

#destacados img {
    width: 100%;
    max-width: 280px;
}