@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(articulos.css);
@import url(redes_sociales.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background: #005ea8;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header img {
    width: auto;
    height: 55px;
    margin: 2.5px 0;
    float: left;
}

.contenedor {
    width: 98%;
    margin: auto;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenida {
    text-align: center;
    margin-bottom: 25px;
}

footer {
    background: #242f38;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    padding: 25px 0;
}

.creditos {
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.creditos p {
    width: 30%;
}

.copyright {
    font-size: 18px;
}

h3, h2 {
    font-weight: bold;
    color: #ea6209;
}

h2 {
    margin-bottom: 10px;
}

@media (min-width: 1024px) {
    .contenedor {
        width: 1000px;
    }

}