#ubicacion h2 {
    padding-top: 150px;
    width: 70%;
}

.ubicanos{
    display: flex;
    /*background: #E99F5E ;*/
}

.ubicanos div{
    width: 60%;
    padding: 20px;
    margin-left: 70px;
}

.ubicanos div p{
    padding: 5px ;
    text-align: justify;
}


.mapa{
    display: flex;  
    width: 100%;
    overflow: auto;
    justify-content: center;
}

.mapa img{
    padding: 10px;
    width: 480px;
    height: auto;    
}


@media(max-width: 850px){
    .ubicanos{
        display: block;
    }
    .ubicanos div{
        width: 75%;
        padding: 10px;
    }

    #ubicacion h2{
        margin-left: 50px;
    }
}

@media (min-width: 1024px) {
    .contenedor {
        width: 1000px;
        margin-right: 150px;
    }


    .ubicanos div{
        width: 75%;
        padding: 10px;
        margin-left: 50px;
    }

    #ubicacion h2{
        margin-left: 30px;
    }
}